<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Star Wars</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if request.path == "/" %}
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{% url "pelicula:list" %}">Peliculas</a></li>
                    <li><a href="{% url "historial" %}">Historial</a></li>
                    <li><a href="{% url "ApitoDb" %}"><i class="glyphicon glyphicon-hdd"></i> Cargar datos db</a></li>
                {% elif request.path == "peliculas/list" %}
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="{% url "pelicula:list" %}">Peliculas</a></li>
                    <li><a href="{% url "historial" %}">Historial</a></li>
                    <li><a href="{% url "ApitoDb" %}"><i class="glyphicon glyphicon-hdd"></i> Cargar datos db</a></li>
                {% elif request.path == "peliculas/detail" %}
                    <li ><a href="/">Home</a></li>
                    <li class="active"><a href="{% url "pelicula:list" %}">Peliculas</a></li>
                    <li><a href="{% url "historial" %}">Historial</a></li>
                    <li><a href="{% url "ApitoDb" %}"><i class="glyphicon glyphicon-hdd"></i> Cargar datos db</a></li>
                {% elif request.path == "historial/" %}
                    <li ><a href="/">Home</a></li>
                    <li><a href="{% url "pelicula:list" %}">Peliculas</a></li>
                    <li class="active"><a href="{% url "historial" %}">Historial</a></li>
                    <li><a href="{% url "ApitoDb" %}"><i class="glyphicon glyphicon-hdd"></i> Cargar datos db</a></li>
                {% else %}
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url "pelicula:list" %}">Peliculas</a></li>
                    <li><a href="{% url "historial" %}">Historial</a></li>
                    <li><a href="{% url "ApitoDb" %}"><i class="glyphicon glyphicon-hdd"></i> Cargar datos db</a></li>

                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="{% url "pelicula:list" %}">
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            </ul>
        </div>
    </div>
</nav>