{% load static %}
<!-- aqui insertaremos el slider -->
<center>
  <div id="carousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicatodores -->
    <ol class="carousel-indicators">
      <li data-target="#carousel1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel1" data-slide-to="1"></li>
      <li data-target="#carousel1" data-slide-to="2"></li>
      <li data-target="#carousel1" data-slide-to="3"></li>
      <li data-target="#carousel1" data-slide-to="4"></li>
    </ol>

    <!-- Contenedor de las imagenes -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <a href="/portal/personajes/detail/4162/"><img src="{%   static "img/personaje/image/anakin.jpg" %}"
            alt="Imagen 1"> </a>
      </div>

      <div class="item">
        <a href="/portal/personajes/detail/4236/"><img src="{%   static "img/personaje/image/bb8.jpg" %}"
            alt="Imagen 2"></a>
      </div>

      <div class="item">
        <a href=""><img src="{%   static "img/personaje/image/kylo.jpg" %}" alt="Imagen 3"></a>
      </div>

      <div class="item">
        <a href="/portal/personajes/detail/4156/"><img src="{%   static "img/personaje/image/leia.jpg" %}"
            alt="Imagen 3"></a>
      </div>

      <div class="item">
        <a href="/portal/personajes/detail/4152/"><img src="{%   static "img/personaje/image/luke.jpg" %}"
            alt="Imagen 3"></a>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>

  </div>
</center>