<div class="footer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="footer-copyright text-center py-3">
<br>
          <!-- Github -->
          <a class="fb-ic" href="https://github.com/Darkvus">
            <i class="fa fa-github  fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
         
          
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://darkvus.github.io/"> darkvus.github.io</a>
  </div>
  <!-- Copyright -->

 </div>
