<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Star Wars</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if request.path == "/portal/" %}
                <li class="active"><a href="/portal">Home</a></li>
                <li><a href="{% url "app:film" %}">Peliculas</a></li>
                <li><a href="{% url "app:personaje" %}">Personajes</a></li>
                {% elif request.path == "/portal/film/list/" %}
                <li><a href="/portal">Home</a></li>
                <li class="active"><a href="{% url "app:film" %}">Peliculas</a></li>
                <li><a href="{% url "app:personaje" %}">Personajes</a></li>
                {% elif request.path == "/portal/film/detail" %}
                <li><a href="/portal">Home</a></li>
                <li class="active"><a href="{% url "app:film" %}">Peliculas</a></li>
                <li><a href="{% url "app:personaje" %}">Personajes</a></li>
                {% elif request.path == "/portal/personajes/list/"%}
                <li><a href="/portal">Home</a></li>
                <li><a href="{% url "app:film" %}">Peliculas</a></li>
                <li class="active"><a href="{% url "app:personaje" %}">Personajes</a></li>
                {% else %}
                <li><a href="/portal">Home</a></li>
                <li><a href="{% url "app:film" %}">Peliculas</a></li>
                <li><a href="{% url "app:personaje" %}">Personajes</a></li>

                {% endif %}
            </ul>
            <ul id="search-container" class="nav navbar-nav navbar-right">

                <form class="navbar-form " action="{% url "app:search" %}">
                    <div class="form-group">
                        <input id="id_search" class="form-control" type="text" placeholder="Search" name="search">

                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>

                </form>

                <ul id="pelicula-lista">
                </ul>
        </div>
        </ul>
    </div>

    </div>

</nav>

<br>