{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <fieldset>
       <div class="panel-heading">
           <center>
        <legend><h3>Details of the Character <strong>{{  personaje.nombre }}</strong></h3></legend>
        </center>
       </div>
        <br>
        <div class="panel-body">

            <ul>
                <li>
                    <h4><strong>Height: </strong>{{  personaje.height }}</h4>
                </li>
                <li>
                    <h4><strong>Mass: </strong>{{  personaje.mass }}</h4>
                </li>
                <li>
                    <h4><strong>Birth Year: </strong>{{  personaje.birth_year }}</h4>
                </li>
                <li>
                    <h4><strong>Hair color: </strong>{{ personaje.hair_color }}</h4>
                </li>
                <li>
                    <h4><strong>Eyes color: </strong>{{  personaje.eye_color }}</h4>
                </li>

            </ul>
        </div>

    </fieldset>
{% endblock %}