{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <fieldset>
       <div class="panel-heading">
           <center>
        <legend><h3>Details of the film <strong>{{ film.title }}</strong></h3></legend>
        </center>
       </div>
        <br>
        <div class="panel-body">

            <ul>
                <li>
                    <h4><strong>Episode: </strong>{{ film.episode_id }}</h4>
                </li>
                <li>
                    <h4><strong>Opening Crawl: </strong>{{ film.opening_crawl }}</h4>
                </li>
                <li>
                    <h4><strong>Director: </strong>{{ film.director }}</h4>
                </li>
                <li>
                    <h4><strong>Producer: </strong>{{ film.producer }}</h4>
                </li>
                <li>
                    <h4><strong>Release Date: </strong>{{ film.release_date }}</h4>
                </li>

            </ul>
        </div>

    </fieldset>
{% endblock %}